#mt_alert_messages
{
  font-family: Trebuchet MS,arial,helvetica,clean,sans-serif;
  font-size: 13px;
  width: 70% !important;
  width: 140%;
  margin: 0 auto !important;
  margin: 0 20% 0 20%;
}

#mt_alert_messages #closer
{
  font-size: 12px;
  background-color: transparent;
  float: right;
  color: #d33;
  background: url('../images/cross-small.png') no-repeat right center transparent;
  padding: 3px 18px 3px 3px;
}

#mt_alert_messages #closer:hover
{
  background-color: #d33;
  color: #fff;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  text-decoration: none;
}

#mt_alert_expander
{
  color: #00a8e6;
  padding: 3px 4px;
}

#mt_alert_messages #mt_alert_expander:hover
{
  background-color: #00a8e6;
  color: #fff;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  text-decoration: none;
}

#mt_alert_messages_detail
{
  position: absolute;
  top: 0;
  height: 180px;
  padding: 7px 7px;
  border-bottom: 3px solid #DDD;
  border-top: 1px solid #DDD;
  background: rgba(255, 255, 255, 0.9) !important;
  background: white;
  filter: alpha(opacity=90)
  overflow-y: auto;
  overflow-x: auto;
  width: 70%;
  -webkit-border-radius-bottomleft: 8px;
  -webkit-border-radius-bottomright: 8px;
  -moz-border-radius-bottomleft: 8px;
  -moz-border-radius-bottomright: 8px;
}

.mt_alert_message div.actions ul
{
  margin: 3px;
  padding: 3px;
}

#mt_alert_messages_detail .mt_alert_message div.content
{
  margin-left: 25px;
}


#mt_alert_messages_detail .mt_alert_message div.actions ul
{
  margin-left: 0px;
}

#mt_alert_messages_detail .mt_alert_message div.actions li
{
  list-style-type: none;
  margin-right: 3px;
  display: inline;
}

.mt_alert_message
{
  border-top: 1px solid #ccc;
}

.mt_alert_message .message
{
  border: 1px solid #ccc;
  background-color: #eee;
  padding: 3px;
  margin: 2px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

.mt_alert_message a
{
  color: #00a8e6;
  background: url('../images/arrow-180.png') no-repeat left center transparent;
  padding: 3px 3px 3px 20px;
}

.mt_alert_message a:hover
{
  background-color: #00a8e6;
  color: #fff;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  text-decoration: none;
}

.mt_alert_message .mta_message_hide_link,
.mt_alert_message .hide_for_this_session a
{
  color: #d33;
  background: url('../images/cross-small.png') no-repeat left center transparent;
  padding: 3px 3px 3px 20px;
}

.mt_alert_message .mta_message_hide_link:hover,
.mt_alert_message .hide_for_this_session a:hover
{
  background-color: #d33;
  color: #fff;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  text-decoration: none;
}

#mt_alert_messages_notification
{
  width: 70%;
  position: absolute;
  background-color: #F9FCFD;
  top: 0;
  background: rgba(255, 255, 255, 0.9) !important;
  background: white;
  filter:alpha(opacity=90)
  font-size: 16px;
  text-align: center;
  padding: 7px 7px;
  border-bottom: 3px solid #DDD;
  border-top: 1px solid #DDD;
  font-size: 14px;
  -webkit-border-radius-bottomleft: 8px;
  -webkit-border-radius-bottomright: 8px;
  -moz-border-radius-bottomleft: 8px;
  -moz-border-radius-bottomright: 8px;
}

#mt_alert_messages_ajax_area
{
  text-align: center;
  font-size: 14px;
}

#mt_alert_messages_ajax_area .error
{
  padding: 3px 0px;
  background-color: #FF3333;
  color: #FFF;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

#mt_alert_messages_ajax_area .notice
{
  padding: 3px 0px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  background-color: #FFFFCC;
}

#mt_alert_messages h3
{
  font-size: 14px;
}
