.show_to_warning
{
  font-weight: bold;
  color: #CB071C;
}

.mt_alert_message_list_td_actions li
{
  display: block !important;
}

.mt_alert_message_list_stacked .list_detail
{
  margin-left: 10px;
}

#sf_admin_container ul li.sf_admin_action_activate a
{
    background: transparent url(../../mtAlertPlugin/images/16x16/power_green.png) no-repeat scroll 0 0;
}

#sf_admin_container ul li.sf_admin_action_deactivate a
{
    background: transparent url(../../mtAlertPlugin/images/16x16/power_black.png) no-repeat scroll 0 0;
}

#sf_admin_container ul li.sf_admin_action_managecredentials a
{
    background: transparent url(../../mtAlertPlugin/images/16x16/security.png) no-repeat scroll 0 0;
}

#sf_admin_container ul li.sf_admin_action_manageusers a
{
    background: transparent url(../../mtAlertPlugin/images/16x16/people.png) no-repeat scroll 0 0;
}

#sf_admin_container ul li.sf_admin_action_nevershowagain a
{
    background: transparent url(../../mtAlertPlugin/images/16x16/power_red.png) no-repeat scroll 0 0;
}

#sf_admin_container ul li.sf_admin_action_showagain a
{
    background: transparent url(../../mtAlertPlugin/images/16x16/power_green.png) no-repeat scroll 0 0;
}

#sf_admin_container ul li.sf_admin_action_hideinsession a
{
    background: transparent url(../../mtAlertPlugin/images/16x16/power_yellow.png) no-repeat scroll 0 0;
}
